@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";

body {
  color: $black;
  background-color: $greyWhite;
}


#popup {
  
}
#popup-root{
  height:450px;
  width:300px
}
img{
  filter:none;
}