@import "../styles/fonts";
//@import "../styles/reset";
@import "../styles/variables";

body {
  color: $black;
  background-color: $white;
  width:360px;
  height:600px;
  display: block;
  font-family: 'Roboto', sans-serif;
  font-size:90%;
  margin:0;
}
.popup-root,.popup-wrapper{
  height:inherit;
  display: block;
  max-height: 600px;
  overflow-y: none;
}
html{
  display: block;
}
.MuiAppBar-colorPrimary {
  background-color:#ffffff !important;
  color: #2E5282 !important;
  height:50px !important;
}
.MuiPaper-elevation4{
  box-shadow: none !important;
  border-bottom: 1px solid #cccccc;
}

.MuiToolbar-regular{
  min-height:50px !important;
  height:50px;
}
.MuiToolbar-gutters{
  padding:0 !important;
}
.nidlogo{
  height:35px;
  width:35px;
  padding:0px 12px 0px 8px;
}
.nidContent{
  margin:0px 8px 8px 8px;
  max-height:390px;
  //overflow-y: auto;
}
.slatetoolbarparent{
  height:50px;
}
.slate{
  height:390px;
//  overflow-y: auto;
  }
.MuiToggleButton-root{
 border:0 !important;
}

.MuiFormControl-root{
  width: 100% !important;
}
.MuiTypography-subtitle1{
  font-weight: 600 !important;
  font-size: 18px !important;
}