@import "../styles/fonts";
//@import "../styles/reset";
@import "../styles/variables";

body {
  color: $black;
  background-color: $white;
  height:450px;
  display: block;
  max-height: 450px;
  
}
html{
  display: block;
  
  //position: absolute;
}

#popup {
  
}
#popup-root{
  height:450px !important;
  width:375px !important;
  max-height: 450px !important;
 // position: absolute;
}
img{
  filter:none;
}
.note-header .add{
  display: none;
}
.public-DraftEditorPlaceholder-root,.react-resizable-handle{
  display: none;

}
// .react-grid-layout,.react-grid-item,.note-body{
//   height:450px !important;
//   min-height: 395px !important;
//   max-height: 450px !important;
 
// }
.popup-wrapper{
 min-height:450px;
 height: 450px !important;
 max-height: 450px !important;
}
.popup-icon-container{
  position: relative;
  z-index:1000;
  .popup-icons{
    position: relative;
  }
}
.DraftEditor-editorContainer{
  display: block;
  max-height: 450px;
}
.note-body{
    height:80%;
  .DraftEditor-editorContainer,.DraftEditor-root,.public-DraftEditor-content{
    height: 100%;
  }
}